<div class="container my-3 py-3 border border-success" >
<h1>Tus Voluntariados</h1>

<div class="col-md-6 mb-4">
<% @applications.each do |application|%>
<div><h3><%= application.offer.title %></h3></div>
  <p><i class="fa-solid fa-plane"></i><%= application.offer.start_date %></p>
  <p><i class="fa-solid fa-plane-up"></i><%= application.offer.end_date %></p>
  <p><i class="fa-solid fa-location-dot"></i><%=application.offer.address%></p>
  <p><i class="fa-solid fa-star-of-life"></i><%=application.status%></p>
      <% if application.offer.photos.attached? %>
      <%= cl_image_tag application.offer.photos.first.key, width: 150, height: 150, crop: :fill, alt: "Foto de #{application.offer.title}", class: "offer-photo" %>
    <% else %>
      <p>No hay foto disponible</p>
    <% end %>
<% end %>
</div>


<div class="center mt-5">
  <%= link_to 'Volver a la lista', offers_path, class: 'btn btn-secondary' %>
  <%# <%= link_to 'BTN', review_path, class: 'btn btn-secondary' %>
</div>
</div>
