 <div class="container my-5 py-5" style="max-width: 900px;">
  <h1 class="text-center mb-4 title1">Mis Aplicaciones</h1>

  <% if @applications %>
    <% @applications.each do |application| %>
      <div class="mb-4 cardapplication">
        <div class="row g-0">
          <div class="col-md-4">
            <% if application.offer.photos.attached? %>
              <%= cl_image_tag application.offer.photos.first.key, class: 'img-fluid rounded-start', alt: "Foto de #{application.offer.title}", style: "object-fit: cover; height: 250px; width: 100%;" %>
            <% else %>
              <img src="placeholder.jpg" class="img-fluid rounded-start" alt="Sin foto disponible" style="object-fit: cover; height: 250px; width: 100%;">
            <% end %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title mt-4 mb-2"><%= application.offer.title %></h5>
              <p class="card-text">
                <i class="fa-solid fa-plane"></i> <%= application.offer.start_date %> - <i class="fa-solid fa-plane-up"></i> <%= application.offer.end_date %><br>
                <i class="fa-solid fa-location-dot"></i> <%= application.offer.address %><br>
                <i class="fa-solid fa-star-of-life"></i> <%= application.status %>
              </p>
              <div class="d-flex justify-content-start gap-2 pt-2">
                <% if current_user.role == "voluntario" %>
                  <%= link_to 'Ver Organización', organization_path(application.offer.user), class: 'custom-button btn btn-sm' %>
                  <% if application.status == "Aceptado" %>
                  <%= link_to 'Ver voluntarios en destino', offer_location_users_path(application.offer.city), class: 'custom-button btn btn-sm' %>
                  <% end %>
                <% else %>
                  <%= link_to 'Editar aplicación', edit_application_path(application), class: 'custom-button-grey btn btn-sm' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="mt-5 text-center  ">
    <%= link_to 'Volver a la lista', offers_path, class: 'custom-button-grey btn' %>
  </div>
</div>
