<div class="container my-3 py-3 border border-success" style="width: 600px">
  <div class= >
    <p><%="Estimado/a #{current_user.first_name}," %></p>

<p style="text-align: justify;">
  <%= "Bienvenido/a al #{@application.offer.title}! ¡Nos alegra que te unas como voluntario/a! Tu apoyo es valioso y confiamos en que marcarás la diferencia.

Te contactaremos por correo para coordinar una entrevista, donde discutiremos tu rol y resolveremos tus dudas.

Revisa tu bandeja de entrada para más detalles sobre la entrevista.

¡Gracias por unirte! Estamos entusiasmados de empezar a trabajar juntos."
  %>
</p>

<p>Atentamente,</p>

    <p class="text-center"><strong>IMPACTTRAIL</strong></p>

  </div>


<div class="text-center"><h3><%= @application.offer.title %></h3></div>
  <p><i class="fa-solid fa-plane"></i><%= @application.offer.start_date %></p>
  <p><i class="fa-solid fa-plane-up"></i><%= @application.offer.end_date %></p>
  <p><i class="fa-solid fa-location-dot"></i><%=@application.offer.address%></p>
  <p><i class="fa-solid fa-star-of-life"></i><%=@application.status%></p>
      <% if @application.offer.photos.attached? %>
      <%= cl_image_tag @application.offer.photos.first.key, width: 150, height: 150, crop: :fill, alt: "Foto de #{@application.offer.title}", class: "offer-photo" %>
    <% else %>
      <p>No hay foto disponible</p>
    <% end %>
</div>
