<div class="video-container">
  <video autoplay loop muted>
    <source src="<%= asset_path('video-banner.webm') %>" type="video/webm">
    Your browser does not support the video tag.
  </video>

<%# Formulario de filtro sobre el video %>
  <div class="filter-search">
    <%= form_with url: offers_path, method: :get, local: true, class: 'form-search' do %>
      <div class="filter-group ">
        <!-- Campo de búsqueda -->
        <div class="filter-item">
          <%= label_tag :query, "Buscar Voluntariado", class: "form-label" %>
          <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "¿En qué lugar quieres ser voluntario?" %>
        </div>
        <!-- Dropdown de tipo de voluntariado -->
        <div class="filter-item">
          <%= label_tag :type_of_volunteering, "Tipo de Voluntariado", class: "form-label" %>
          <%= select_tag :type_of_volunteering, options_for_select([
            ['Animales y medio ambiente', 'Animales y medio ambiente'],
            ['Proyectos de construcción y restauración', 'Proyectos de construcción y restauración'],
            ['Agricultura y granjas', 'Agricultura y granjas'],
            ['Mejora de la comunidad', 'Mejora de la comunidad'],
            ['Enseñanza e idiomas', 'Enseñanza e idiomas']
          ], params[:type_of_volunteering]), { prompt: "Tipo de voluntariado", class: "form-control" } %>
        </div>
        <!-- Botón de búsqueda -->

          <%= submit_tag "Buscar", class: "custom-button align-self-end button-home" %>

      </div>
    <% end %>
  </div>
</div>

  <!-- Seccion Destacado -->

<section class="impact-section">
  <div class="container cards-flotantes">
      <h2 class="mb-4 text-center">¿Por qué usar ImpactTrail?</h2>
    <div class="impact-grid">
      <!-- Card 1 -->
      <div class="impact-card">
        <div class="impact-icon">
          <i class="fas fa-hand-holding-heart"></i> <!-- Icono representativo -->
        </div>
        <h3>Viajes con Propósito y Responsabilidad</h3>
        <p>Viaja de manera consciente y responsable. Vive una experiencia de viaje que marca la diferencia para ti y el mundo.</p>
      </div>

      <!-- Card 2 -->
      <div class="impact-card">
        <div class="impact-icon">
          <i class="fas fa-globe"></i>
        </div>
        <h3>Oportunidades en Varios Países</h3>
        <p>Elige tu próximo destino y vive la experiencia. Explora oportunidades de voluntariado en varios países mientras descubres nuevas culturas.</p>
      </div>

      <!-- Card 3 -->
      <div class="impact-card">
        <div class="impact-icon">
          <i class="fas fa-seedling"></i>
        </div>
        <h3>Impacto en Comunidades Locales</h3>
        <p>Deja una huella positiva en cada destino. Ayuda a comunidades en situación de vulnerabilidad, promoviendo proyectos que generan un cambio real y sostenible.</p>
      </div>

      <!-- Card 4 -->
      <div class="impact-card">
        <div class="impact-icon">
          <i class="fas fa-users"></i>
        </div>
        <h3>Conexión con Viajeros Voluntarios</h3>
        <p>Viaja de manera consciente y responsable. Vive una experiencia de viaje que marca la diferencia para ti y el mundo.</p>
      </div>
    </div>
  </div>
</section>


<section class="hero-section">
  <div class="hero-container">
    <div class="hero-text">
      <h1 class="poppins-semibold">ImpactTrail, diseñado para ti</h1>

      <p>Facilitamos la <span class=> conexión con viajeros y destinos </span> desde el momento en que decides viajar</p>
      <a href="#discover" class="btn btn-primary">Descubre las novedades</a>
    </div>
    <div class="hero-image">
      <img src="assets/moto.jpg" alt="Imagen de impacto">
    </div>
  </div>
</section>

<%# Voluntariados destacados %>

<section class="py-5">
  <div class="container">
    <h2 class="text-center mb-5">Oportunidades de Voluntariado!</h2>
    <div class="row">
      <% @offers.each do |offer| %>
        <div class="col-md-4 mb-4">
          <div class="explore-card">
            <% if offer.photos.attached? %>
              <%= cl_image_tag offer.photos.first.key, width: 400, height: 300, crop: :fill, class: "explore-image", alt: "Foto de #{offer.title}" %>
            <% else %>

              <img src="https://conference.nbasbl.org/wp-content/uploads/2022/05/placeholder-image-1.png" class="explore-image" alt="Imagen por defecto" style="width: 400px; height: 300px; object-fit: cover;">
            <% end %>
            <div class="explore-content">
              <h2><%= offer.title %></h2>
              <p><%= truncate(offer.description, length: 100) %></p>

              <p class="mb-1">
                <i class="bi bi-geo-alt"></i> <%= offer.city %>, <%= offer.country_name %>
              </p>
              <p class="mb-3">
                <i class="bi bi-clock"></i> <%= distance_of_time_in_words(offer.start_date, offer.end_date) %>
              </p>
              <a href="<%= offer_path(offer) %>" class="explore-btn">Explora</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<%#
<div class="explore-card">
  <div class="explore-image"></div>
  <div class="explore-content">
    <h2>Explore our Seoul</h2>
    <p>200 hotels, 345 local flights and 234 bus providers</p>
    <a href="#" class="explore-btn">Explore</a>
  </div>
</div> %>
