<%# carrusel de imagenes %>
<div id="myCarousel" class="carousel slide mb-6 custom-carousel" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="position-relative">
        <img src="assets/banner2.jpg" class="d-block w-100" alt="Descripción de la imagen">
        <div class="position-absolute top-0 start-0 w-100 h-100" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));"></div>
      </div>
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Viaja, Impacta y haz Comunidad</h1>
          <p class="opacity-75">Viaja con proposito</p>
          <%# <p><a class="custom-button" href= "/user/sign_up" >Regístrate</a></p> %>
        </div>
      </div>
    </div>
    <div class="carousel-item">
        <div class="position-relative">
        <img src="assets/banner3.jpg" class="d-block w-100" alt="Descripción de la imagen">
        <div class="position-absolute top-0 start-0 w-100 h-100" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));"></div>
      </div>
      <div class="container">
        <div class="carousel-caption">
          <h1>Explora el mundo, cambia vidas, sé voluntario.</h1>
          <p>Some representative placeholder content for the second slide of the carousel.</p>
          <%# <p><a class="custom-button" href="new_user_registration_path">Regístrate</a></p> %>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="position-relative">
        <img src="assets/banner4.jpg" class="d-block w-100" alt="Descripción de la imagen">
        <div class="position-absolute top-0 start-0 w-100 h-100" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));"></div>
      </div>
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>Tu aventura comienza ayudando a los demás.</h1>
          <p>Some representative placeholder content for the third slide of this carousel.</p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<%# buscador de filtro %>
<%= form_with url: offers_path, method: :get, local: true, class: 'form-search' do %>
  <div class="row g-3">
    <!-- Campo de búsqueda -->
    <div class="col-md-6">
      <%= label_tag :query, "Buscar Voluntariado", class: "form-label" %>
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "¿En qué lugar quieres ser voluntario?" %>
    </div>

    <!-- Dropdown de tipo de voluntariado -->
    <div class="col-md-4">
      <%= label_tag :type_of_volunteering, "Tipo de Voluntariado", class: "form-label" %>
      <%= select_tag :type_of_volunteering, options_for_select([
        ['Animales y medio ambiente', 'Animales y medio ambiente'],
        ['Proyectos de construcción y restauración', 'Proyectos de construcción y restauración'],
        ['Agricultura y granjas', 'Agricultura y granjas'],
        ['Mejora de la comunidad', 'Mejora de la comunidad'],
        ['Enseñanza e idiomas', 'Enseñanza e idiomas']
      ], params[:type_of_volunteering]), { prompt: "Tipo de voluntariado", class: "form-select" } %>
    </div>

    <!-- Botón de búsqueda -->
    <div class="col-md-2 align-self-end">
      <%= submit_tag "Buscar", class: "custom-button  w-100" %>
    </div>
  </div>
<% end %>
