
<div class="login-background-image" style="background-image: url(<%= asset_path('viajero.jpg')%>)">
  <div class="login-container">
    <!-- Sección de la imagen con texto -->
    <div class="login-left-section">
      <h1>Viaja con proposito</h1>
      <p>Tu tiempo puede cambiar vidas. Únete al cambio</p>
    </div>
    <!-- Sección del formulario -->
    <div class="login-right-section">
      <h2>Log in</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="login-form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean, input_html: {id: "rememberbutton"} if devise_mapping.rememberable? %>
        </div>
        <div class="login-form-actions">
          <%= f.button :submit, "Log in", class: 'custom-button' %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
