<div class="container mt-5 mb-5">
  <div class="col-md-12 text-center">
    <h1 class="display-4 mb-4">Ofertas Disponibles</h1>
  </div>
  <% if @offers.any? %>
    <div class="row">
      <% @offers.each do |offer| %>
        <div class="col-md-6 col-lg-4 mb-4 ">
          <div class="card shadow-sm h-100 rounded-4">
            <div class="card-body">
            <% if offer.photos.attached? %>
              <%= cl_image_tag offer.photos.first.key, class: 'img-fluid rounded-4', alt: "Foto de #{offer.title}", style: "object-fit: cover; height: 200px; width: 100%;" %>
            <% else %>
              <img src="placeholder.jpg" class="img-fluid rounded-4 " alt="Sin foto disponible" style="object-fit: cover; height: 200px; width: 100%; ">
            <% end %>
              <h5 class="card-title text-center"><%= link_to offer.title, offer_path(offer), style: "text-decoration: none;" %></h5>
                <p class="card-text">
                  <i class="fa-solid fa-location-dot"></i>  Ubicación: <%= offer.address %> <br>
                  <i class="fa-solid fa-image-portrait"></i>  Disponibilidad: <%= offer.availability %> puestos <br>
                  <i class="fa-solid fa-check"></i>  <%= truncate(offer.description, length: 100) %>
                </p>
            <div class="mt-auto text-end">
              <%= link_to 'Ver más', offer_path(offer), class: 'btn btn-outline-primary mt-3 rounded-3' %>
            </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="text-muted mt-4">No hay ofertas disponibles en este momento.</p>
      </div>
    </div>
  <% end %>

  <% if current_user&.role == "organización" %>
    <div class="row">
      <div class="col-md-12 text-center">
        <%= link_to 'Nueva Oferta', new_offer_path, class: 'btn btn-primary mt-4 rounded-3' %>
      </div>
    </div>
  <% end %>
</div>
