<div class="contenedor_medio">
<div class="container mb-5">
  <div class="col-md-12 text-center">
    <h1 class="title1">Ofertas Disponibles</h1>
  </div>
  <% if @offers.any? %>
    <div class="row">
      <% @offers.each do |offer| %>
        <div class="col-md-6 col-lg-4 mb-4 ">
          <div class="card shadow-sm h-100 rounded-5">
            <div class="card-body">
            <% if offer.photos.attached? %>
              <%= cl_image_tag offer.photos.first.key, class: 'img-fluid rounded-5', alt: "Foto de #{offer.title}", style: "object-fit: cover; height: 250px; width: 100%;" %>
            <% else %>
              <img src="placeholder.jpg" class="img-fluid rounded-5 " alt="Sin foto disponible" style="object-fit: cover; height: 250px; width: 100%; ">
            <% end %>
              <h4 class="card-title text-center p-3"><%= link_to offer.title, offer_path(offer), style: "text-decoration: none; color: black;" %></h4>
                <p class="card-text">
                  <i class="fa-solid fa-house"></i><strong> Organizaci칩n: </strong><%= offer.user.organization_name %> <br>
                  <i class="fa-solid fa-map-location-dot"></i><strong>  Ubicaci칩n: </strong><%= offer.address %> <br>
                  <i class="fa-solid fa-user"></i><strong>  Disponibilidad: </strong><%= offer.availability %> puestos <br>
                  <i class="fa-solid fa-check"></i><strong></strong> <%= truncate(offer.description, length: 100) %>
                </p>
            </div>
            <div class="d-flex justify-content-end p-3">
              <%= link_to 'Ver m치s', offer_path(offer), class:'btn custom-button'%>
              </div>
          </div>
        </div>

      <% end %>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="text-muted mt-4">No hay ofertas disponibles en este momento.</p>
      </div>
    </div>
  <% end %>

  <% if current_user&.role == "organizaci칩n" %>
    <div class="row">
      <div class="col-md-12 text-center">
        <%= link_to 'Nueva Oferta', new_offer_path, class: 'btn btn-primary mt-4 rounded-3' %>
      </div>
    </div>
  <% end %>
</div>
</div>
