<h1>Crear una nueva oferta de voluntario</h1>
  <%= simple_form_for @offer do |f| %>
    <%= f.input :title, class: 'form-control' %>
    <%= f.input :description, class: 'form-control' %>
    <%= f.input :requirements, class: 'form-control' %>
    <div class="d-flex justify-content-start">
      <div class="col-3">
      <%= f.input :start_date, as: :string, input_html: {data: {controller: "datepicker"}}  %>
      </div>
      <div class="col-3">
      <%= f.input :end_date, as: :string, input_html: {data: {controller: "datepicker"}}  %>
      </div>
    </div>
    <%= f.input :address, class: 'form-control'%>
    <%= f.input :availability, class: 'form-control' %>
    <%= f.input :photos, as: :file, input_html: {multiple: true} %>
    <%= f.submit 'Update Offer', class: 'btn btn-primary' %>
  <% end %>

<%= link_to 'Back to Offers', offers_path, class: 'btn btn-secondary' %>


 <%# Crear acceso para el Host como mi Joyita , crear el método hacker de Andrés "pundit"
 3 opciones STATUS : INICIADO, ACEPTADO, CERRADO %>
