<h1 class="mb-5 mt-5 text-center">Crear tu oportunidad de voluntariado</h1>

<div class="container shadow p-4 bg-light rounded mt-5 mb-5" style="width: 700px" >

  <%= simple_form_for @offer do |f| %>

    <div class="form-group">
      <%= f.input :title, label: "Título de la oferta", input_html: { class: "form-control" } %>
    </div>

    <div class="form-group mt-4">
      <%= f.input :description, label: "Descripción", input_html: { class: "form-control" } %>
    </div>

    <div class="form-group mt-4">
      <%= f.input :requirements, label: "Requisitos", input_html: { class: "form-control" } %>
    </div>

    <div class="form-group mt-1 row g-0"> <!-- g-0 elimina el espacio entre las columnas -->
      <div class="col-md-3">
        <%= f.input :start_date, label: "Fecha de inicio", as: :string, input_html: { class: "form-control form-control-sm", data: { controller: "datepicker" } } %>
      </div>
      <div class="col-md-3">
        <%= f.input :end_date, label: "Fecha de fin", as: :string, input_html: { class: "form-control form-control-sm", data: { controller: "datepicker" } } %>
      </div>
    </div>

    <div class="form-group mt-4">
      <%= f.input :country_name, label: "País", input_html: { class: "form-control" } %>
    </div>

    <div class="form-group mt-4">
      <%= f.input :city, label: "Ciudad", input_html: { class: "form-control" } %>
    </div>

    <div class="form-group mt-4">
      <%= f.input :address, label: "Dirección", input_html: { class: "form-control" } %>
    </div>

    <div class="form-group mt-4">
      <%= f.input :type_of_volunteering, label: "Tipo de Voluntariado", as: :select, collection: [
          'Animales y medio ambiente',
          'Proyectos de construcción y restauración',
          'Agricultura y granjas',
          'Mejora de la comunidad',
          'Enseñanza e idiomas'], prompt: 'Seleccione una opción', input_html: { class: "form-control" } %>
    </div>

    <div class="form-group mt-4">
      <%= f.input :perks, label: "Beneficios", input_html: { class: "form-control" } %>
    </div>

    <div class="form-group mt-4">
      <%= f.input :availability, label: "Puestos disponibles", input_html: { class: "form-control" } %>
    </div>

    <div class="form-group mt-4">
      <%= f.input :photos, as: :file, input_html: { multiple: true, class: "form-control" }, label: "Fotos" %>
    </div>

    <div class="d-flex justify-content-center mt-5">
      <%= f.submit 'Crear oferta', class: 'btn btn-primary', style: 'width: 5cm;' %>
      <%= link_to 'Volver a las Ofertas', offers_path, class: 'btn btn-secondary ms-2', style: 'width: 5cm;' %>
    </div>

  <% end %>

</div>


 <%# Crear acceso para el Host como mi Joyita , crear el método hacker de Andrés "pundit"
 3 opciones STATUS : INICIADO, ACEPTADO, CERRADO %>
