<div class="contenedor"></div>
<div class="container mb-5 ">

      <div class="badge text-bg-secondary fs-5 mb-2">Proyecto</div>
      <h3 class="display-4 text-dark fs-3"><%= @offer.title.capitalize %> </h3>


  <div class="row">

    <!-- Imágenes de la oferta -->
    <div class="d-flex justify-content-center ">
      <div id="carusel-container" class="mt-4">
        <div id="carouselExample" class="carousel slide carousel-fade">
          <div class="carousel-inner">
              <% @offer.photos.each_with_index do |photo, index| %>
                <div class="carousel-item carusel-photo-container <%= "active" if index == 0 %>">
                  <%= cl_image_tag(photo.key, class: 'img-fluid product-image carusel-photo rounded', alt: @offer.title, id: photo.id) %>
                </div>
              <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>


    <!-- Detalles de la oferta -->
    <div class="col-md-6">
    <div class="d-flex row">
      <div class="col">
      <ul class="list-unstyled">
        <li class="d-flex align-items-center">
          <i class="fa-solid fa-location-dot me-3"></i>
          <div class="text-muted h5 mt-3"><%= @offer.address.capitalize %></div>
        </li>
      </ul>
      </div>
    </div>
      <p class="text-muted h5 mt-3"><strong>Disponibilidad: </strong> <%= @offer.availability %> puestos</p>
      <p class="text-muted h5 mt-3"><strong>Postulaciones: </strong><%= @offer.applications.count %></p>

      <p class="mt-4"><strong>Descripción:</strong></p>
      <p class="text-secondary"><%= @offer.description.capitalize %></p>

      <p class="mt-4"><strong>Requisitos:</strong></p>
      <p class="text-secondary"><%= @offer.requirements.capitalize %></p>

      <p class="mt-4"><strong>Beneficios:</strong></p>
      <ul>
      <% @offer.perks.split("|").each do |beneficio| %>
        <li class="text-secondary"> <%= beneficio %></li>
      <% end %>
      </ul>

      <p class="mt-4"><strong>Fechas:</strong></p>
      <p class="text-secondary">De <%= @offer.start_date %> a <%= @offer.end_date %></p>

      <!-- Botones y formularios para la organización -->
      <% if current_user.role == "organización" %>
        <div class="mt-5" data-controller="toggle">
          <button data-action="click->toggle#fire" class="btn btn-warning text-light">Editar Oferta</button>
          <%= link_to 'Volver a la lista', offers_path, class: 'btn btn-secondary mt-3' %>
          <%= link_to 'Ver Aplicaciones', offer_applications_path(@offer), class: 'btn btn-secondary mt-3' %>
          <%= button_to 'Eliminar', @offer, method: :delete, class: 'btn btn-secondary mt-3', data: { confirm: '¿Estás seguro?' } %>

          <div data-toggle-target="form" class="d-none mt-3">
            <h1>Editar la oferta de voluntariado</h1>
            <%= simple_form_for @offer, url: offer_path(@offer), method: :patch do |f| %>
              <div class="form-group">
                <%= f.input :title, class: 'form-control' %>
              </div>
              <div class="form-group mt-3">
                <%= f.input :description, class: 'form-control' %>
              </div>
              <div class="form-group mt-3">
                <%= f.input :requirements, class: 'form-control' %>
              </div>
              <div class="form-group mt-3">
                <%= f.input :address, class: 'form-control' %>
              </div>

              <div class="form-group mt-3">
                <%= f.input :start_date,
                            as: :string,
                            input_html: {
                              data: {
                                controller: "datepicker",
                                datepicker_start_date_value: @offer.start_date,
                                datepicker_end_date_value: @offer.end_date,
                              }
                            } %>
              </div>
              <div class="form-group mt-3">
                <%= f.input :end_date,
                            as: :string,
                            input_html: {
                              data: {
                                controller: "datepicker",
                                datepicker_start_date_value: @offer.start_date,
                                datepicker_end_date_value: @offer.end_date,
                              }
                            } %>
              </div>
              <div class="form-group mt-3">
                <%= f.input :availability, class: 'form-control' %>
              </div>
              <div class="form-group mt-3">
                <%= f.input :photos, as: :file, input_html: {multiple: true} %>
              </div>
              <div class="form-group mt-4">
                <%= f.submit 'Actualizar Oferta', class: 'btn btn-warning text-light' %>
              </div>
            <% end %>
            <%= link_to 'Volver a la lista', offers_path, class: 'btn btn-secondary mt-3' %>
          </div>
        </div>
      <% end %>

      <!-- Botones y formularios para el voluntario -->
      <% if current_user.role == "voluntario" %>
        <div data-controller="toggle">
          <%= link_to 'Aplica aquí', "", class: 'btn btn-secondary', data: {action: "toggle#fire"} %>
          <div class="d-none mt-3" data-toggle-target="form">
            <h1>Agregar fechas de voluntariado</h1>
            <%= simple_form_for [@offer, @application], data: {turbo: false} do |f| %>
              <div class="form-group">
                <%= f.input :start_date, as: :string, input_html: {data: {controller: "datepicker"}} %>
              </div>
              <div class="form-group mt-3">
                <%= f.input :end_date, as: :string, input_html: {data: {controller: "datepicker"}} %>
              </div>
              <div class="form-group mt-4">
                <%= f.submit 'Aplicar', class: 'btn btn-primary' %>
              </div>
            <% end %>
            <%= link_to 'Volver a la lista', offers_path, class: 'btn btn-secondary mt-3' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>


    <%# mapa %>
      <div class="ms-5 mb-5 me-5 rounded", style="width: 30%; height: 200px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

</div>
