<div class="">

<div class="row">

<div>
  <div class="title2-izq pt-1"><strong>Reviews</strong></div>
<% if @reviews.any? %>
  <% @reviews.each do |review| %>
<div class="d-flex">
  <div class="rating pt-2">
      <%= cl_image_tag review.user.photo.key, width: 100, height: 100, crop: :thumb, gravity: :face, class: 'img-fluid avatar me-3' %>
  </div>
  <div class="rating">
    <ul class="list-unstyled">
    <div class="d-flex review-rating">
      <div><i class="fa-solid fa-star text-warning me-2"></i></div>
      <div><li ><i><%= review.rating %></i></li></div>
    </div>
    <div class="d-flex review-user">
      <div>
        <li class="text-muted "><i><%= review.user.first_name %></i></li>
      </div>
      <div class="ms-2 text-muted">
        <li><i><%= review.created_at.strftime("%d-%m-%Y") %></i></li>
      </div>
    </div>
      <li class="review-content "><i><%= review.content.capitalize  %></i></li>
    </ul>
  </div>
</div>
      <%= content_tag :hr %>
  <% end %>
<% else %>
  <p>No tiene reviews registradas.</p>
<% end %>
</div>
</div>
</div>
