<div class="contenedor">
  <div class="container mt-4">
  <table class="table table-bordered">
    <thead>
      <tr class="text-center">
        <th>Voluntariado</th>
        <th>Candidatos</th>
        <th>Puesto</th>
        <th>Vacantes</th>
      </tr>
    </thead>
    <tbody>
      <% @my_offers.each do |offer| %>
        <tr>
          <td><%= offer.title %></td>
          <td>
            <div class="d-flex align-items-center">
              <% offer.applications.limit(2).each do |application| %>
                <%= cl_image_tag application.user.photo.key, class: "rounded-circle", width: 40, height: 40 %>
              <% end %>
              <% if offer.applications.count > 2 %>
                <span class="badge badge-pill">+<%= offer.applications.count - 2 %></span>
              <% end %>
            </div>
          </td>
          <td><%= offer.requirements %></td>
          <td>
            <span class="color-number"><%= offer.availability %></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

</div>
