<div class="container mb-5 mt-5">

<%# Ver ofertas en general y las todas las postulaciones que tenga el boton de crear nueva %>




<%# Vista si eres voluntario %>
<% if user_signed_in? && current_user.role!= "organización" %>
<h1 class= "mb-5"><strong><%= @organization.organization_name %></strong></h1>
<h4 class= "mb-5"><%= @organization.description %></h4>
  <p><%= @average_rating %></p>
<%= render "received_reviews", reviews: @reviews%>

<div class= "mt-5"><h5><strong>Crea una nueva review</strong></h5>
      <%= simple_form_for @review do |f| %>
        <%= f.input :content,label:"Escribe tu review" %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Califica tu Experiencia", input_html: {data: {controller: "star-rating"}} %>
        <%= f.input :organization_id, :as => :hidden, input_html: {value: params[:id]} %>
        <%= f.submit "Envía review" %>
      <% end %>
</div>

<% else %>
  <%# Vista si eres organizacion %>
  <h1 class= "mb-5"><strong><%= current_user.organization_name %></strong></h1>
  <p><%= @average_rating %></p>
  <h4 class= "mb-5"><%= current_user.description %></h4>
  <%= render "received_reviews", reviews: @reviews%>

<% end %>

</div>

<% console %>
