<div class="contenedor"></div>
<div class="container mb-5 mt-5">

<%if @organization.nil? && current_user.role!= "organización" %>
<% @organization= current_user %>
<% end %>
<%# Ver ofertas en general y las todas las postulaciones que tenga el boton de crear nueva %>

<%# Vista si eres voluntario %>
<h2><strong><%= @organization.organization_name.upcase %></strong></h2>
  <div class="organization-rating-address">
    <%# estrellas amarillas, del promedio %>
    <div>
        <% if @reviews.any? %>
          <% @average_rating.to_i.times do %>
            <i class="fa-solid fa-star text-warning mb-1"></i>
          <% end %>
          <i><%= "#{@average_rating}" %></i>
        <% end %>
    </div>
    <%# Ubicacion hub %>
     <div>
      <ul class="list-unstyled">
        <li class="d-flex align-items-center">
          <i class="fa-solid fa-location-dot text-danger me-1"></i>
          <div><strong>Dirección principal: </strong><%= @organization.organization_address.capitalize %></div>
        </li>
      </ul>
      </div>

  </div>

<h5 class= "mb-5"><%= @organization.description.capitalize %></h5>

        <%# reviews %>
  <div class="row">
    <div class="col mt-4">
            <%= render "received_reviews", reviews: @reviews%>
    </div>
    <div class="col">
        <%# mapa %>
        <div style="width: 100%; height: 300px; border-radius: 30px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </div>
  </div>



<%# agregar review, si eres voluntario %>
<% if user_signed_in? && current_user.role!= "organización" %>
<div class= "mt-5"><h5><strong>Crea una nueva review</strong></h5>
      <%= simple_form_for @review do |f| %>
        <%= f.input :content,label:"Escribe tu review" %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Califica tu Experiencia", input_html: {data: {controller: "star-rating"}} %>
        <%= f.input :organization_id, :as => :hidden, input_html: {value: params[:id]} %>
        <%= f.submit "Envía review", class: 'custom-button' %>
      <% end %>
</div>
<% end %>

<%# Fotos de la organization %>

</div>
